# Databases - Join the club

Demo database code:

In [ ]:
-- Don't run this, you'll have a bad time...
CREATE DATABASE Joining;
GO
USE JOINING;
GO
CREATE TABLE Facebook
(
    [Name] NVARCHAR(100),
    Friends INT,
)
GO
CREATE TABLE LinkedIn
(
    [Name] NVARCHAR(100),
    Connections INT,
)

INSERT INTO Facebook ( [Name], Friends ) 
VALUES
 ('Matt', 300)
,('Lisa', 500)
,('Jeff', 600)
,('Sarah', 400)

INSERT INTO LinkedIn ( [Name], Connections ) 
VALUES
 ('Matt', 500)
,('Lisa', 200)
,('Sarah', 100)
,('Louis', 300)

## `JOIN`s

1.  `(INNER) JOIN`
2.  `LEFT (OUTER) JOIN`
3.  `RIGHT (OUTER) JOIN`
4.  `FULL (OUTER) JOIN`
5.  `CROSS JOIN`

# Join?

- Selecteren van kolommen uit meerdere tabellen
- `JOIN` specifiëert de tabellen die samengevoegd moeten worden, en hoe ze moeten worden samengevoegd
- `ON` specificeert de `JOIN` voorwaarde
- Produceert 1 resultaatset, waarin de rijen uit die tabellen gekoppeld worden

# (INNER) JOIN

Dit is het standaard type JOIN in SQL, in feite hoeft u niet eens `INNER` te specificeren bij het schrijven van een query. Alleen het schrijven van `JOIN` is een `INNER JOIN`.  

![Inner JOIN](https://dataschool.com/assets/images/how-to-teach-people-sql/sqlJoins/sqlJoins_3.png)

### **Voorbeeld**

Hoeveel vrienden en connecties hebben mijn vrienden die op zowel Facebook als LinkedIn staan?

In [ ]:
SELECT *
FROM Facebook
    JOIN Linkedin ON Facebook.Name = Linkedin.Name

1. SQL maakt eerst een nieuwe tabel aan met de kolommen van beide tabellen die u probeert te combineren.

![Creation of joined table](https://dataschool.com/assets/images/how-to-teach-people-sql/innerJoin/innerJoin_1.png)

2. Het probeert dan waarden te vinden die overeenkomen met de kolommen die u opgeeft in het ON-statement. Het plaatsen van de tabelnaam met een periode voor de kolomnaam maakt duidelijk welke twee kolommen van de tabellen SQL op zoek zijn naar overeenkomsten tussen de kolommen.

![showing that facebook.name is the same as name from the facebook table](https://dataschool.com/assets/images/how-to-teach-people-sql/innerJoin/innerJoin_2.jpeg)

3. De SQL begint dan met de eerste waarde van de opgegeven kolom in de eerste tabel (facebook.name) en kijkt vervolgens door elke waarde in de opgegeven kolom van de tweede tabel (linkedin.name) voor een match.

![Gif of how inner join iterates through the tables](https://dataschool.com/assets/images/how-to-teach-people-sql/innerJoin/innerJoin_3.gif)

## Ola Pola

```
 Zorg ervoor dat u weet welke gegevens u in de eindtabel wilt hebben, zodat de weggelaten gegevens niet van invloed zijn op uw analyse. 
```

### **Voorbeeld**

Jef zal nooit opgenomen worden in het eindresultaat.

![gif of not adding unmatched rows](https://dataschool.com/assets/images/how-to-teach-people-sql/innerJoin/innerJoin_4.gif)

Ola Pola

```
Een ander iets om te overwegen is dat SQL elke keer als er een match is de rijen zal vervoegen. Dus als uw gegevens in de kolommen waar u zich bij aansluit niet uniek zijn, krijgt u dubbele gegevens in de uiteindelijke tabel. 

```

### **Voorbeeld**

Sarah zal dubbel opgenomen worden in het resultaat.

![non unique second table](https://dataschool.com/assets/images/how-to-teach-people-sql/innerJoin/innerJoin_5.gif)

# LEFT (OUTER) JOIN

Dit is het tweede meest voorkomende type JOIN in SQL. Links verwijst naar de eerste tabel, of de tabel waar u zich bij aansluit. Dus in dit geval zou het de facebooktabel zijn, omdat deze eerder komt dan de gelinkte tabel in de query.

![Left JOIN](https://dataschool.com/assets/images/how-to-teach-people-sql/sqlJoins/sqlJoins_4.png)  

### **Voorbeeld**

Hoeveel vrienden en connecties hebben mijn Facebook-vrienden? (Ongeacht of ze op LinkedIn staan)

In [ ]:
SELECT *
FROM facebook
    LEFT JOIN linkedin ON facebook.name = linkedin.name

Deze query vindt overeenkomsten en voegt deze toe aan een nieuw aangemaakte tabel op dezelfde manier als een `INNER JOIN`.

![Shows the Left join adding matches between the left and right table to the result table](https://dataschool.com/assets/images/how-to-teach-people-sql/leftJoin/leftJoin_1.gif)

Ola Pola

```
Er is echter een groot verschil in hoe SQL de LEFT-tabel (eerste tabel; in dit geval de facebooktabel) behandelt. Voor alle rijen in de eerste (of LEFT) tabel die geen match hadden, zal het nog steeds deze rij toevoegen aan de nieuwe tabel en NULLs zetten voor de kolommen van de andere tabel.
```

# RIGHT (OUTER) JOIN

Dit is een van de zeldzaamste soorten \`JOIN\` in SQL. De reden hiervoor is dat elke RIGHT JOIN herschreven kan worden als een \`LEFT JOIN\`, wat meer conventioneel is. Rechts verwijst naar de tweede tabel, of de tabel waar u in komt. Dus in dit geval zou het de linkedin-tabel zijn aangezien deze na facebook-tabel in de query komt.

### **Voorbeeld**

Hoeveel vrienden en connecties hebben mijn LinkedIn connecties? (Ongeacht of ze op facebook staan)

# FULL (OUTER) JOIN

Combineer een `LEFT JOIN` met nadien een `RIGHT JOIN` en tada! `FULL (OUTER) JOIN`. 

### **Voorbeeld**

Hoeveel vrienden en connecties hebben mijn Facebook-vrienden of LinkedIn-vrienden?

In [ ]:
SELECT *
FROM facebook
    FULL OUTER JOIN linkedin ON facebook.name = linkedin.name

Na het invullen van de LEFT JOINvan de gegevens wordt er in wezen een RIGHT JOIN uitgevoerd. Echter, aangezien alle gevallen waarin er een match is gemaakt, controleert SQL alleen of elke waarde aanwezig is in de joined tabel. Als deze niet in de joined tabel staat, voegt SQL deze rij toe aan de nieuwe tabel en zet ze NULL voor de kolommen uit de andere tabel.

![gif showing subsequent adding of values that were not copied from the table](https://dataschool.com/assets/images/how-to-teach-people-sql/fullOuter/fullOuter_2.gif)

# UNION

Dit is het vierde meest voorkomende type JOIN in SQL. Union koppelt de gegevens uit twee tabellen niet aan één enkele rij. Union stapelt twee datasets op elkaar in één tabel.

![UNION](https://dataschool.com/assets/images/how-to-teach-people-sql/sqlJoins/sqlJoins_5.png)  

### **Voorbeeld**

Hoeveel vrienden hebben mijn Facebook-vrienden en hoeveel connecties hebben mijn LinkedIn-vrienden?

In [ ]:
SELECT *
FROM facebook
UNION 
SELECT *
FROM linkedin

![gif showing how the union runs through each table to build the result](https://dataschool.com/assets/images/how-to-teach-people-sql/union/union_2.gif)

## Ola Pola

```
Er zijn een paar overwegingen die je moet maken voordat je een UNION uitvoert.
- Het aantal en de volgorde van de kolommen en voor beide tabellen moet hetzelfde zijn. 
- De gegevenstypes van de kolommen die worden gecombineerd moeten hetzelfde gegevenstype hebben. 
- U kunt aangeven welke kolom(s) u wilt samenvoegen, en in dit voorbeeld selecteren we alleen de kolom Naam uit beide tabellen die beide tekst zijn en dus kunnen ze worden samengevoegd.

```

> Merk op dat `[Name]` tussen brackets staat, aangezien `Name` een SQL Keyword is.

In [ ]:
SELECT [Name]
FROM facebook
UNION
SELECT [Name]
FROM linkedin

# CROSS JOIN

Dit is het vijfde meest voorkomende type JOIN in SQL. Cross join zoekt niet naar overeenkomsten tussen de waarden in de twee datasets. In plaats daarvan wordt voor elke rij in de eerste tabel elke rij van de tweede tabel er aan vastgemaakt en één voor één aan de laatste tabel toegevoegd.

![Cross JOIN](https://dataschool.com/assets/images/how-to-teach-people-sql/sqlJoins/sqlJoins_6.png)  

**Voorbeeld**

Hoeveel combinaties van vrienden en connecties heb ik?

In [ ]:
SELECT *
FROM facebook
    CROSS JOIN linkedin

![gif showing how cross joins work on tables](https://dataschool.com/assets/images/how-to-teach-people-sql/crossJoin/crossJoin_1.gif)

# Which JOIN is for me?

-   `LEFT JOIN`: Hoeveel vrienden en connecties hebben mijn Facebook-vrienden? (Ongeacht of ze op LinkedIn staan)
-   `RIGHT JOIN`: Hoeveel vrienden en connecties hebben mijn LinkedIn connecties? (Ongeacht of ze op facebook staan)
-   `FULL JOIN`: Hoeveel vrienden en connecties hebben mijn Facebook-vrienden of LinkedIn-vrienden?
-   `INNER JOIN`: Hoeveel vrienden en connecties hebben mijn vrienden die op zowel Facebook als LinkedIn staan?
-   `UNION`: Hoeveel vrienden hebben mijn Facebook-vrienden en hoeveel connecties hebben mijn LinkedIn-vrienden?
-   `CROSS JOIN`: Hoeveel combinaties van vrienden en connecties heb ik?

In [ ]:
-- Nobody, does this, but hey... it's there if you want to an apple fanboi (different)
SELECT *
FROM facebook
    RIGHT JOIN linkedin ON facebook.name = linkedin.name

-- Talk my lingo
SELECT *
FROM facebook
    LEFT JOIN linkedin ON facebook.name = linkedin.name

# Cheatsheet

# ![SQL JOINs type cheat sheet](https://dataschool.com/assets/images/how-to-teach-people-sql/sqlJoins/sqlJoins_7.png)